html{
    font-family: sans-serif;
}
.top{
    display: flex;
    flex-direction: row;
}

h1{
    display: flex;
    flex-grow: 1;
}

nav {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 500px;
  padding-top: 15px;
}



nav ul {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}


nav ul li a {
  color: rgb(128, 128, 128);
  text-shadow: 0.1px 0.1px 0px #000000;
  text-decoration: none;
}
.top{
    border-bottom: solid thin;
    padding: 30px;
}
a{
    text-decoration: none;
    color: rgb(92, 92, 92);
}
a:hover{
    border: solid;
    color: black;
}
nav a:hover {
    border: none;
    color: black;
}

p{
    margin-left: 0px;
    margin-right: 0px;
    line-height: 2;

}
.intro{
    margin-left: 120px;
    margin-right: 120px;
    border-bottom: solid thin;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: 'Solway', serif;
}
.work1{
    display: flex;
    padding:0 200px;
    padding-top: 300px;
    padding-bottom: 200px;
    justify-content: space-between;
    font-family: 'Mali', cursive;
}
.work2{
    display: flex;
    padding:0 200px;
    padding-bottom: 200px;
    justify-content: space-between;
    font-family: 'Mali', cursive;

}
.box1{
    width: 400px;


}
.box2{
    display: flex;

}
img{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: auto;
    box-shadow: 10px 10px 5px  #a1a1a1;
}
.foot {
    margin-left: 120px;
    margin-right: 120px;
    border-top: solid thin;
}
footer{
    text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Solway', serif;
}
.boxes{
    display: flex;
    padding: 100px;
}
.imgprof{
    width: 300px;
    padding-left: 100px;
    height: auto;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    box-shadow: none;
}
.aboutdescription1{
    padding-top: 100px;
    padding-left: 200px;
    font-weight: bold;
    font-family: 'Reenie Beanie', cursive;
    font-size: 38px;
}
.aboutdescription2{
    border: dotted rgb(201, 137, 168);
    width: 600px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 28px;
}

strong{
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgb(164, 7, 76);
}
em{
    color: rgb(201, 137, 168);
}
em:hover{
    color: white;
    text-shadow: 2px 2px 5px rgb(164, 7, 76);
}
strong:hover{
    color: rgb(255, 235, 236);
    text-shadow: 2px 2px 5px rgb(164, 7, 76);
}

.aboutdescription3{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
    font-family: 'Comfortaa', cursive;
}

h3{
    font-weight: 800;
}
h4{
    font-weight: 300i;
    font-style: italic;
    font-size: 14px;
    color: grey;
}
